.item{
    border-width: 10px;
    border-color: rgb(255, 170, 0);
    border-style: solid;
    background-color: black;
    display: flex;
    padding: 100px;
    margin-top: 20px;
}


.container{
    border-width: 10px;
    border-color: black;
    border-style: solid;
    display: flex; 
    justify-content:space-between ;
    flex-wrap: wrap; 
    background-color: white;
    overflow: hidden;
    
}
body{
    background:linear-gradient(45deg, #0ca0a0, #9738db);
}